.header{
    text-align: center;
    background-color: crimson;
    font-family: 'Franklin Gothic Medium';
    width: 100%;
    height: 125px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



